Repository NervanaSystems/ngraph-mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @sergeykolychev, @szha, @rahul003, @marcoabreu

Install psutil into venv
  docker/scripts/run-mx-ngraph-validation-test.sh
Owners: @apache/mxnet-committers

Add import unittest
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_module.py
  tests/python/unittest/test_symbol.py
Owners: @apache/mxnet-committers

optimize output handling and fix lint
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_utils.cc
Owners: @apache/mxnet-committers

reuse NDArray mem for TensorViews
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
Owners: @apache/mxnet-committers

update for api change
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_sgcompiler.cc
Owners: @apache/mxnet-committers

Updated the daily validation tests. (#213)
  docker/scripts/run-mx-ngraph-validation-test.sh
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_module.py
  tests/python/unittest/test_symbol.py
Owners: @apache/mxnet-committers

fix cpp unit test
  src/ngraph/ngraph_nnvm_utils.h
Owners: @apache/mxnet-committers

add feedback comments
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
Owners: @apache/mxnet-committers

fix cpp unit test
  src/ngraph/ngraph_nnvm_utils.h
Owners: @apache/mxnet-committers

optimize output handling and fix lint
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_utils.cc
Owners: @apache/mxnet-committers

add feedback comments
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
Owners: @apache/mxnet-committers

update for api change
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_sgcompiler.cc
Owners: @apache/mxnet-committers

reuse NDArray mem for TensorViews
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
Owners: @apache/mxnet-committers

add an unsupported op print
  src/ngraph/ngraph_compiler.cc
Owners: @apache/mxnet-committers

Fixes NGRAPH-1626 - Crash in 'test_dot'.
  src/ngraph/ngraph_emitter.cc
Owners: @apache/mxnet-committers

Fixes NGRAPH-1626 - Crash in 'test_dot'. (#215)
  src/ngraph/ngraph_emitter.cc
Owners: @apache/mxnet-committers

add psutil back in as a dependency
  python/setup.py
Owners: @szha

fix compiler warnings
  Makefile
  src/ngraph/ngraph_utils.h
Owners: @szha, @apache/mxnet-committers

remove unused variables
  src/ngraph/ngraph_compiler.cc
  src/ngraph/ops/batchnorm.cc
  tests/cpp/ngraph/test_ngraph_compiler.cc
Owners: @apache/mxnet-committers

clean up the logic
  src/ngraph/ngraph_compiler.cc
Owners: @apache/mxnet-committers

Dump Unsupported Ops (#214)
  src/ngraph/ngraph_compiler.cc
Owners: @apache/mxnet-committers

fix cpplint
  src/ngraph/ngraph_utils.h
Owners: @apache/mxnet-committers

fix copy-paste typo
  src/ngraph/ngraph_utils.h
Owners: @apache/mxnet-committers

Various compilation niceties and warnings that cropped up during the merge of 1.2 (#216)
  Makefile
  python/setup.py
  src/ngraph/ngraph_compiler.cc
  src/ngraph/ngraph_utils.h
  src/ngraph/ops/batchnorm.cc
  tests/cpp/ngraph/test_ngraph_compiler.cc
Owners: @szha, @apache/mxnet-committers

fix memory sharing convergence errors
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_sgcompiler.cc
Owners: @apache/mxnet-committers

disable one test until we have NDArray integration working fully
  src/ngraph/ngraph_nnvm_ops.cc
  tests/cpp/ngraph/test_ngraph_utils.cc
Owners: @apache/mxnet-committers

Add Arctrig Ops
  src/ngraph/ngraph_emitter.cc
Owners: @apache/mxnet-committers

fix cpplint
  src/ngraph/ngraph_sgcompiler.cc
  tests/cpp/ngraph/test_ngraph_utils.cc
Owners: @apache/mxnet-committers

fix cpplint
  src/ngraph/ngraph_emitter.cc
Owners: @apache/mxnet-committers

fix memory sharing convergence errors (#218)
  src/ngraph/ngraph_nnvm_ops.cc
  src/ngraph/ngraph_nnvm_utils.h
  src/ngraph/ngraph_sgcompiler.cc
  tests/cpp/ngraph/test_ngraph_utils.cc
Owners: @apache/mxnet-committers

Add Arctrig Ops (#219)
  src/ngraph/ngraph_emitter.cc
Owners: @apache/mxnet-committers

change get_backend_name to accept dev_id other than 0
  src/ngraph/ngraph_graph.h
Owners: @apache/mxnet-committers

[WIP] Do not merge.
  docker/scripts/run-ng-mx-unit-tests.sh
Owners: @apache/mxnet-committers

Create the virtual env
  docker/scripts/run-ng-mx-build-and-unit-tests.sh
Owners: @apache/mxnet-committers

Refactor the code.
  docker/scripts/run-ng-mx-unit-tests.sh
Owners: @apache/mxnet-committers

Use nGraph for the forward pass of gluon Hybridize
  include/mxnet/imperative.h
  src/imperative/cached_op.cc
  src/ngraph/ngraph_compiler.cc
  src/ngraph/ngraph_compiler.h
Owners: @apache/mxnet-committers

remove an unused method and dead code cleanup
  src/imperative/cached_op.cc
  src/ngraph/ngraph_compiler.h
Owners: @apache/mxnet-committers

Bug
  docker/scripts/run-ng-mx-build-and-unit-tests.sh
Owners: @apache/mxnet-committers

enable gluon fcompute with tensorview ndarray
  src/ngraph/ngraph_imperative.cc
Owners: @apache/mxnet-committers

fix ndarray shape mismatch bugs
  src/ndarray/ndarray.cc
Owners: @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/       @thirdwing
/scala-package/   @yzhliu
/perl-package/    @sergeykolychev
/python/          @szha

# C++ base
/src/kvstore/     @rahul003

# CMake
CMakeLists.txt    @szha @rahul003
/cmake/           @szha @rahul003

# MXNet CI
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu
.travis.yml         @marcoabreu
appveyor.yml        @marcoabreu

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha

# Tools
/tools/           @szha

# Github templates
/.github/         @szha
