Repository NervanaSystems/ngraph-mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @rahul003, @anirudh2290, @marcoabreu

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid

# C++ base
/src/kvstore/     @rahul003 @anirudh2290
/include/         @anirudh2290 @pllarroy
/src/c_api/       @anirudh2290
/src/common/      @anirudh2290
/src/engine/      @anirudh2290
/src/executor/    @anirudh2290
/src/imperative/  @anirudh2290
/src/io/          @anirudh2290
/src/ndarray/     @anirudh2290
/src/nnvm/        @anirudh2290
/src/operator/    @anirudh2290
/src/profiler/    @anirudh2290
/src/kvstore/     @eric-haibin-lin
/src/storage/     @anirudh2290
/tests/cpp/       @anirudh2290
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# CMake
CMakeLists.txt    @szha @rahul003 @pllarroy
/cmake/           @szha @rahul003 @pllarroy

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu
.travis.yml         @marcoabreu
appveyor.yml        @marcoabreu

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy

# Tools
/tools/           @szha @pllarroy

# Github templates
/.github/         @szha

Select which node entry to use in inputs and outputs via topological sort order
  src/operator/subgraph/partition_graph.cc
Owners: @pllarroy

Select which node entry to use in inputs and outputs via topological sort order (#537)
  src/operator/subgraph/partition_graph.cc
Owners: @pllarroy

fix test_subgraph_op by removing the sum and comparing elements directly
  tests/python/unittest/test_subgraph_op.py
Owners: @apache/mxnet-committers

fix test_subgrapy.py (#538)
  tests/python/unittest/test_subgraph_op.py
Owners: @apache/mxnet-committers

make cmake build mkldnn and ngraph at the same time
  CMakeLists.txt
Owners: @szha, @rahul003, @pllarroy

Rename to avoid merge conflict with upstream.
  README-NGRAPH.md
Owners: @apache/mxnet-committers
